li, #backButton, #clearScores {
    margin: 5px 0px 5px 0px;
}

.questionsContainer {
    margin-top: 100px;
}

#questionArea, #instructions {
    text-align: center;
}

#startBtnDiv {
    text-align: center;
}

#highScoresDiv {
    margin-top: 120px;
}

#highScoresLink, #timerTag {
    float: left;
}

